* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87CEEB;
}

#game-container {
    position: absolute;
    width: 100vw;
    height: 650px;
    background-color: #eee;
    overflow: hidden;
    display: flex;
    top: -21px;
    justify-content: center;
    align-items: flex-end;
}

#player {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: red;
}
